.profile__content-edit-button{
    display: grid;
    align-content: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #000;

}
.profile__content-edit-button:hover{
    opacity: 0.6;
}